@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.navbar-light {
  background-color: #67c5aed5 !important;
}

.sticky-navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050 !important;
}


.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .dropdown-toggle {
  font-size: 1.7rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
  line-height: 1.5;
  color: #fdfffe;
  padding: 15px 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border: none;
  background: transparent;
  letter-spacing: 1.7px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .dropdown-toggle.show {
  color: #7debc6dc !important; /* eller samma färg som du använder för normal */
  background-color: transparent !important;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 100px;
}

.dropdown-arrow {
  font-size: 1.6rem;
  margin-left: 0px;
}

.navbar-light .navbar-nav .nav-link::after,
.navbar-light .navbar-nav .dropdown-toggle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #6be0b9cb;
  transition: width 0.4s ease-in-out;
  opacity: 0;
}


.navbar-light .navbar-nav .nav-link:hover::after,
.navbar-light .navbar-nav .dropdown-toggle:hover::after {
  width: 100%;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .dropdown-toggle:hover {
  color: #7aecbde7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.849);
}

.dropdown-menu {
  background-color: #2f493f;
  border: 1px solid #518d6f;
  border-radius: 0;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-size: 1.3rem !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #47c988;
  text-decoration: underline;
}

.navbar-light .dropdown-menu .dropdown-item:hover {
    font-size: 1.4rem;
    transition: font-size 0.3s ease;
  }

.navbar-light .navbar-nav .nav-item {
    margin-right: 20px;
  }

.navbar-light .d-flex .form-control {
    width: auto;
    height: 45px;
    max-width: 240px;
    font-size: 1.2rem;
  }

  .navbar-light .dropdown-menu .dropdown-item:active {
    background-color: transparent;
    color: #297a69;
  }


  .zengym-title {
    transition: color 0.3s ease, transform 0.3s ease;
    color: #ffffffea !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.678);
    font-size: 2.1rem !important;
  }
  
  .zengym-title:hover {
    color: #7ee4c5 !important;
    transform: scale(1.1);
    cursor: pointer;
  }