.recommendation-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .card-container {
    width: 50%;
    z-index: 1;
  }
  
  .branch-image {
    position: absolute;
    right: -22vw;
    height: 480px;
    width: 900px;

    z-index: 0;
    pointer-events: none;
  }

  .btn-text {
    color: black !important;
    outline: auto;
    outline-color: rgb(54, 136, 161);
  }

.left-aligned-heading {
  text-align: left !important;
}