.recommendation-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .card-container {
    width: 50%;
    z-index: 1;
  }
  
  .branch-image {
    position: absolute;
    right: -22vw;
    height: 460px;
    width: 800px;

    z-index: 0;
    pointer-events: none;
  }
  