body {
    background-color: #f7abe5a1 !important;
}

h1 {
    font-weight: 600;
    font-size: 4.5rem !important;
}

h3 {
    position: relative;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    z-index: 1;
    text-shadow: 2px 3px 4px rgb(0, 0, 0);
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 2.2rem;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    padding-top: 20vh;
    text-align: center;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(83, 43, 81, 0.377);
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.intro-text {
    max-width: 50%;
    margin: 80px auto 40px 40px; /*top, right, bottom, left */
    text-align: left;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.intro-text h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #393642;
}
.intro-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.intro-image img {
    max-height: 650px;
    width: auto;
    margin-top: 70px;
    margin-right: 300px;
}

.news-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news-photo img {
    max-height: 600px;
    width: auto;
    margin-right: 40px;
    margin-top: -90px;
}

.news-text {
    background-color: rgba(255, 255, 255, 0.637);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: 1.5rem;
    color: #393642;
    margin-right: 145px;
    margin-top: -15px;
}